/* Advertisement.module.css */

.advertisement {
  display: flex;
  flex-direction: column;

  padding: 20px;
  margin: 10px;
  width: 300px;
}

.advertisement h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.advertisement p {
  font-size: 1.2rem;
  margin-bottom: 5px;
}

.advertisement .photos {
  display: flex;
  flex-direction: column;
}

.advertisement .photos img {
  width: 240px;
  height: auto;

  object-fit: contain;
}

.advertisement .photos .mainPhoto {
  width: 240px;
  height: 170px;
  object-fit: contain;
  border-radius: 5px;
  border: #ccc solid 1px;
  background-color: #ccc;
}

.advertisement .photos .thumbnails {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
}

.advertisement .photos .thumbnail {
  width: 50px; /* Ustaw stałą szerokość */
  background-color: #ccc;
  height: auto;
  margin-right: 5px;
  cursor: pointer;
  opacity: 0.7;
  transition: opacity 0.3s ease;
}

.advertisement .photos .thumbnail:hover {
  opacity: 1;
}

.advertisement .photos .selectedThumbnail {
  width: 50px;
  height: auto;
  margin-right: 5px;
  cursor: pointer;
  border: 2px solid #333;
  opacity: 1;
  border: solid rgb(84, 108, 245) 2px;
  background-color: #ccc;
}

.advertisement .details {
  flex: 1;
  padding-left: 20px;
}
.information {
  display: flex;
  flex-direction: column;
  margin-right: 5px;
  color: white;
}
@media (min-width: 678px) {
  .advertisement {
    flex-direction: row;
    width: 600px;
  }
}
