/* SearchBar.module.css */

.searchContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 400px;
  margin: 0 auto;
}

.inputWithIconSearch {
  position: relative;
  display: flex;
  align-items: center;
}

.iconSearch {
  position: absolute;
  right: 10px;
  color: #888;
}

.inputSearch {
  padding: 10px 10px 10px 10px; /* Zmieniłem padding, aby zachować odstęp od ikony */
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 100%;
  font-size: 16px;
  box-sizing: border-box;
  color: white;
}

.buttonSearch {
  padding: 10px 15px;
  background-color: rgba(0, 123, 255, 0.8);
  color: white;
  margin-top: 20px;
  margin-bottom: 30px;
  border: none;
  border-radius: 10px 30px 10px 30px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 120px;
}

.buttonSearch:hover {
  background-color: rgba(46, 204, 113, 0.8);
}
