/* UserProfilePage.module.css */

.modal {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.modal p {
  color: white;
  margin-bottom: 20px;
}

.modal button {
  background-color: #007bff;
  color: white;
  padding: 10px 15px;
  margin: 0 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.modal button:hover {
  background-color: #0056b3;
}

button {
  background-color: #007bff;
  color: white;
  padding: 10px 15px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
